#  Combining the Data 2

![nyc_opendata.png](nyc_opendata.png)

In [1]:
! ls -l

total 304
drwxrwxr-x 3 ion ion   4096 jul  8 11:41  2011_School_Survey
-rw-rw-r-- 1 ion ion 136230 jul  9 16:15  Analyzing_NYC_High_School_Data.ipynb
-rw-rw-r-- 1 ion ion  44693 jul  9 16:18 'Combining the Data 2.ipynb'
-rw-rw-r-- 1 ion ion  12199 jul  9 13:39  condense_1.png
-rw-rw-r-- 1 ion ion  86586 jul  9 12:56  nyc_opendata.png
-rw-rw-r-- 1 ion ion  10533 jul  8 17:02  padded.png
-rw-rw-r-- 1 ion ion     15 jul  7 08:56  README.md
drwxrwxr-x 2 ion ion   4096 jul  8 11:41  schools

In [2]:
! ls schools/

ap_2010.csv	  graduation.csv    survey_all.txt
class_size.csv	  hs_directory.csv  survey_d75.txt
demographics.csv  sat_results.csv   Survey_Data_Dictionary.xls

In [3]:
import chardet

datafiles = ['ap_2010.csv',
         'graduation.csv',
         'survey_all.txt',
         'class_size.csv', 
         'hs_directory.csv', 
         'survey_d75.txt',
         'demographics.csv',
         'sat_results.csv', 
         'Survey_Data_Dictionary.xls']

In [4]:
'''
datafiles_NonUTF = []

for f in datafiles:
    with open("schools/{}".format(f),'rb') as file:
        print("file name: {nme} format name: {frt}".format(nme=f,frt=chardet.detect(file.read())))
        if 'utf-8' not in chardet.detect(file.read()):
            datafiles_NonUTF.append(f)
        else:
            datafiles.append(f)
'''

'\ndatafiles_NonUTF = []\n\nfor f in datafiles:\n    with open("schools/{}".format(f),\'rb\') as file:\n        print("file name: {nme} format name: {frt}".format(nme=f,frt=chardet.detect(file.read())))\n        if \'utf-8\' not in chardet.detect(file.read()):\n            datafiles_NonUTF.append(f)\n        else:\n            datafiles.append(f)\n'

- This is the output that chardet, as it takes a long time to analyze each file this is what gives us to the output.

    file name: ap_2010.csv format name: {'encoding': 'ascii', 'confidence': 1.0, 'language': ''}
    file name: graduation.csv format name: {'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}
    file name: survey_all.txt format name: {'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}
    file name: class_size.csv format name: {'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}
    file name: hs_directory.csv format name: {'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}
    file name: survey_d75.txt format name: {'encoding': 'ascii', 'confidence': 1.0, 'language': ''}
    file name: demographics.csv format name: {'encoding': 'ascii', 'confidence': 1.0, 'language': ''}
    file name: sat_results.csv format name: {'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}
    file name: Survey_Data_Dictionary.xls format name: {'encoding': 'Windows-1254', 'confidence': 0.3643929081009458, 'language': 'Turkish'}

- We have 3 files with a not too common encoding system **'Windows-1254'**, so for now we will work with the files that have the **UTF-8** encoding system.

In [5]:
! file -i schools/ap_2010.csv

schools/ap_2010.csv: application/csv; charset=us-ascii

In [6]:
! file -i schools/graduation.csv

schools/graduation.csv: application/octet-stream; charset=binary

In [7]:
! file -i schools/class_size.csv

schools/class_size.csv: application/csv; charset=us-ascii

In [8]:
! file -i schools/hs_directory.csv

schools/hs_directory.csv: application/csv; charset=utf-8

In [9]:
! file -i schools/demographics.csv

schools/demographics.csv: application/csv; charset=us-ascii

In [10]:
! file -i schools/sat_results.csv

schools/sat_results.csv: application/csv; charset=utf-8

||||||||
|:|:|:|:|:|:|:|
|**file name:**|`ap_2010.csv`|`graduation.csv`|`class_size.csv`|`hs_directory.csv`|`demographics.csv`|`sat_results.csv`|
|**chardet lib:**|'ascii'    |'utf-8'       |utf-8'        |utf-8'          |'ascii'         |**'Windows-1252'**|
|**file -i:**    |charset=us-ascii        |charset=binary|charset=us-ascii|charset=utf-8   |charset=us-ascii        |charset=utf-8|


- If we compare the output of the file `sat_results.csv` does not coincide with that offered by the file command, however it is important to note that we are told that the accuracy is 0.73, so let's see if the load can be done.

In [11]:
import pandas as pd

In [12]:
datafiles = ['ap_2010.csv',
         'graduation.csv',
         'class_size.csv', 
         'hs_directory.csv', 
         'demographics.csv',
         'sat_results.csv']

In [13]:
data = {}

for f in datafiles:
    file = f.replace(".csv","")
    if ".txt" not in file:                            # avoiding for errors loadings
        data[file]= pd.read_csv("schools/{0}".format(f))
data

{'ap_2010':         DBN                                         SchoolName  \
 0    01M448                       UNIVERSITY NEIGHBORHOOD H.S.
 1    01M450                             EAST SIDE COMMUNITY HS
 2    01M515                                LOWER EASTSIDE PREP
 3    01M539                     NEW EXPLORATIONS SCI,TECH,MATH
 4    02M296              High School of Hospitality Management
 ..      ...                                                ...
 253  31R605                         STATEN ISLAND TECHNICAL HS
 254  32K545                      EBC-HS FOR PUB SERVICE (BUSH)
 255  32K552                          Academy of Urban Planning
 256  32K554               All City Leadership Secondary School
 257  32K556  Bushwick Leaders High School for Academic Exce...

     AP Test Takers  Total Exams Taken Number of Exams with scores 3 4 or 5
 0                39                49                                   10
 1                19                21                                    s
 2                24                26                                   24
 3               255               377                                  191
 4                 s                 s                                    s
 ..              ...               ...                                  ...
 253             528               905                                  809
 254              47                64                                   13
 255              76               100                                   10
 256               7                 8                                    s
 257              34                35                                   18

 [258 rows x 5 columns],
 'graduation':         Demographic     DBN                            School Name    Cohort  \
 0      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
 1      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
 2      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
 3      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
 4      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug
 ...             ...     ...                                    ...       ...
 25091          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2003
 25092          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2004
 25093          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2005
 25094          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2006
 25095          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL  2006 Aug

        Total Cohort Total Grads - n Total Grads - % of cohort  \
 0                 5               s                         s
 1                55              37                     67.3%
 2                64              43                     67.2%
 3                78              43                     55.1%
 4                78              44                     56.4%
 ...             ...             ...                       ...
 25091            65               1                      1.5%
 25092            64               2                      3.1%
 25093            79               3                      3.8%
 25094            57               4                        7%
 25095            57               4                        7%

       Total Regents - n Total Regents - % of cohort  \
 0                     s                           s
 1                    17                       30.9%
 2                    27                       42.2%
 3                    36                       46.2%
 4                    37                       47.4%
 ...                 ...                         ...
 25091                 0                          0%
 25092                 0                          0%
 25093                 1                        1.3%
 25094                 2                        3.5%
 25095                 2                        3.5%

       Total Regents - % of grads  ... Regents w/o Advanced - n  \
 0                              s  ...                        s
 1                          45.9%  ...                       17
 2                          62.8%  ...                       27
 3                          83.7%  ...                       36
 4                          84.1%  ...                       37
 ...                          ...  ...                      ...
 25091                         0%  ...                        0
 25092                         0%  ...                        0
 25093                      33.3%  ...                        1
 25094                        50%  ...                        2
 25095                        50%  ...                        2

       Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
 0                                      s                                 s
 1                                  30.9%                             45.9%
 2                                  42.2%                             62.8%
 3                                  46.2%                             83.7%
 4                                  47.4%                             84.1%
 ...                                  ...                               ...
 25091                                 0%                                0%
 25092                                 0%                                0%
 25093                               1.3%                             33.3%
 25094                               3.5%                               50%
 25095                               3.5%                               50%

       Local - n Local - % of cohort   Local - % of grads Still Enrolled - n  \
 0             s                   s                    s                  s
 1            20               36.4%                54.1%                 15
 2            16                 25%  37.200000000000003%                  9
 3             7                  9%                16.3%                 16
 4             7                  9%                15.9%                 15
 ...         ...                 ...                  ...                ...
 25091         1                1.5%                 100%               44.0
 25092         2                3.1%                 100%               38.0
 25093         2                2.5%                66.7%               46.0
 25094         2                3.5%                  50%               34.0
 25095         2                3.5%                  50%               34.0

       Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
 0                                s               s                         s
 1                            27.3%               3                      5.5%
 2                            14.1%               9                     14.1%
 3                            20.5%              11                     14.1%
 4                            19.2%              11                     14.1%
 ...                            ...             ...                       ...
 25091                        67.7%            20.0                     30.8%
 25092                        59.4%            22.0                     34.4%
 25093                        58.2%            28.0                     35.4%
 25094                        59.6%            17.0                     29.8%
 25095                        59.6%            17.0                     29.8%

 [25096 rows x 23 columns],
 'class_size':        CSD BOROUGH SCHOOL CODE                     SCHOOL NAME GRADE   \
 0        1       M        M015       P.S. 015 Roberto Clemente     0K
 1        1       M        M015       P.S. 015 Roberto Clemente     0K
 2        1       M        M015       P.S. 015 Roberto Clemente     01
 3        1       M        M015       P.S. 015 Roberto Clemente     01
 4        1       M        M015       P.S. 015 Roberto Clemente     02
 ...    ...     ...         ...                             ...    ...
 27606   32       K        K564  Bushwick Community High School  09-12
 27607   32       K        K564  Bushwick Community High School  09-12
 27608   32       K        K564  Bushwick Community High School  09-12
 27609   32       K        K564  Bushwick Community High School  09-12
 27610   32       K        K564  Bushwick Community High School    NaN

       PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
 0           GEN ED                                    -
 1              CTT                                    -
 2           GEN ED                                    -
 3              CTT                                    -
 4           GEN ED                                    -
 ...            ...                                  ...
 27606       GEN ED                       SOCIAL STUDIES
 27607       GEN ED                       SOCIAL STUDIES
 27608       GEN ED                       SOCIAL STUDIES
 27609          CTT                                 MATH
 27610          NaN                                  NaN

       CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
 0                                       -                           -
 1                                       -                           -
 2                                       -                           -
 3                                       -                           -
 4                                       -                           -
 ...                                   ...                         ...
 27606             US History & Government                           -
 27607                           Economics                           -
 27608         Participation in Government                           -
 27609                  Integrated Algebra                           -
 27610                                 NaN                         NaN

        NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
 0                                   19.0                 1.0
 1                                   21.0                 1.0
 2                                   17.0                 1.0
 3                                   17.0                 1.0
 4                                   15.0                 1.0
 ...                                  ...                 ...
 27606                              256.0                10.0
 27607                               65.0                 2.0
 27608                               53.0                 2.0
 27609                               50.0                 2.0
 27610                                NaN                 NaN

        AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
 0                    19.0                    19.0                   19.0
 1                    21.0                    21.0                   21.0
 2                    17.0                    17.0                   17.0
 3                    17.0                    17.0                   17.0
 4                    15.0                    15.0                   15.0
 ...                   ...                     ...                    ...
 27606                25.6                    15.0                   35.0
 27607                32.5                    32.0                   33.0
 27608                26.5                    25.0                   28.0
 27609                25.0                    25.0                   25.0
 27610                 NaN                     NaN                    NaN

       DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
 0             ATS                             NaN
 1             ATS                             NaN
 2             ATS                             NaN
 3             ATS                             NaN
 4             ATS                             NaN
 ...           ...                             ...
 27606       STARS                             NaN
 27607       STARS                             NaN
 27608       STARS                             NaN
 27609       STARS                             NaN
 27610         NaN                            17.1

 [27611 rows x 16 columns],
 'hs_directory':         dbn                                        school_name       boro  \
 0    17K548                Brooklyn School for Music & Theatre   Brooklyn
 1    09X543                   High School for Violin and Dance      Bronx
 2    09X327        Comprehensive Model School Project M.S. 327      Bronx
 3    02M280     Manhattan Early College School for Advertising  Manhattan
 4    28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens
 ..      ...                                                ...        ...
 430  10X225             Theatre Arts Production Company School      Bronx
 431  11X508                              Bronxdale High School      Bronx
 432  11X253  Bronx High School for Writing and Communicatio...      Bronx
 433  02M316  Urban Assembly School of Business for Young Wo...  Manhattan
 434  25Q525                        Townsend Harris High School     Queens

     building_code    phone_number    fax_number grade_span_min  \
 0            K440    718-230-6250  718-230-6262              9
 1            X400    718-842-0687  718-589-9849              9
 2            X240    718-294-8111  718-294-8109              6
 3            M520  718-935-3477             NaN              9
 4            Q695    718-969-3155  718-969-3552              6
 ..            ...             ...           ...            ...
 430          X137    718-584-0832  718-584-5102              6
 431          X415    718-944-3655  718-944-3662              9
 432          X425    718-944-5660  718-944-5690              9
 433          M282    212-668-0169  212-668-0635              9
 434          Q515    718-575-5580  718-575-1366              9

      grade_span_max expgrade_span_min  expgrade_span_max  ...  \
 0                12               NaN                NaN  ...
 1                12               NaN                NaN  ...
 2                12               NaN                NaN  ...
 3                10                 9               14.0  ...
 4                12               NaN                NaN  ...
 ..              ...               ...                ...  ...
 430              12               NaN                NaN  ...
 431              12               NaN                NaN  ...
 432              12               NaN                NaN  ...
 433              12               NaN                NaN  ...
 434              12               NaN                NaN  ...

                                             priority02  \
 0                      Then to New York City residents
 1    Then to New York City residents who attend an ...
 2    Then to Bronx students or residents who attend...
 3    Then to New York City residents who attend an ...
 4    Then to Districts 28 and 29 students or residents
 ..                                                 ...
 430                Then to Bronx students or residents
 431  Then to New York City residents who attend an ...
 432  Then to New York City residents who attend an ...
 433  Priority to Manhattan students or residents wh...
 434                                                NaN

                                             priority03  \
 0                                                  NaN
 1                  Then to Bronx students or residents
 2    Then to New York City residents who attend an ...
 3            Then to Manhattan students or residents
 4                 Then to Queens students or residents
 ..                                                 ...
 430                    Then to New York City residents
 431                Then to Bronx students or residents
 432                Then to Bronx students or residents
 433  Then to New York City residents who attend an ...
 434                                                NaN

                                   priority04                       priority05  \
 0                                        NaN                              NaN
 1            Then to New York City residents                              NaN
 2        Then to Bronx students or residents  Then to New York City residents
 3            Then to New York City residents                              NaN
 4            Then to New York City residents                              NaN
 ..                                       ...                              ...
 430                                      NaN                              NaN
 431          Then to New York City residents                              NaN
 432          Then to New York City residents                              NaN
 433  Then to Manhattan students or residents  Then to New York City residents
 434                                      NaN                              NaN

     priority06  priority07 priority08  priority09 priority10  \
 0          NaN         NaN        NaN         NaN        NaN
 1          NaN         NaN        NaN         NaN        NaN
 2          NaN         NaN        NaN         NaN        NaN
 3          NaN         NaN        NaN         NaN        NaN
 4          NaN         NaN        NaN         NaN        NaN
 ..         ...         ...        ...         ...        ...
 430        NaN         NaN        NaN         NaN        NaN
 431        NaN         NaN        NaN         NaN        NaN
 432        NaN         NaN        NaN         NaN        NaN
 433        NaN         NaN        NaN         NaN        NaN
 434        NaN         NaN        NaN         NaN        NaN

                                             Location 1
 0    883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
 1    1110 Boston Road\nBronx, NY 10456\n(40.8276026...
 2    1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
 3    411 Pearl Street\nNew York, NY 10038\n(40.7106...
 4    160-20 Goethals Avenue\nJamaica, NY 11432\n(40...
 ..                                                 ...
 430  2225 Webster Avenue\nBronx, NY 10457\n(40.8546...
 431  925 Astor Avenue\nBronx, NY 10469\n(40.8596983...
 432  800 East Gun Hill Road\nBronx, NY 10467\n(40.8...
 433  26 Broadway\nNew York, NY 10004\n(40.705234939...
 434  149-11 Melbourne Avenue\nFlushing, NY 11367\n(...

 [435 rows x 58 columns],
 'demographics':           DBN                                              Name  schoolyear  \
 0      01M015                         P.S. 015 ROBERTO CLEMENTE    20052006
 1      01M015                         P.S. 015 ROBERTO CLEMENTE    20062007
 2      01M015                         P.S. 015 ROBERTO CLEMENTE    20072008
 3      01M015                         P.S. 015 ROBERTO CLEMENTE    20082009
 4      01M015                         P.S. 015 ROBERTO CLEMENTE    20092010
 ...       ...                                               ...         ...
 10070  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20072008
 10071  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20082009
 10072  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20092010
 10073  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20102011
 10074  32K564  BUSHWICK COMMUNITY HIGH SCHOOL                      20112012

       fl_percent  frl_percent  total_enrollment  prek     k grade1 grade2  \
 0           89.4          NaN               281    15    36     40     33
 1           89.4          NaN               243    15    29     39     38
 2           89.4          NaN               261    18    43     39     36
 3           89.4          NaN               252    17    37     44     32
 4                        96.5               208    16    40     28     32

Of all the datasets, the one that has the most importance is the `sat_results` because it is the one that contains the scores of the high schools of NY. This will be the main dataset because we will correlate information from this dataset with the other datasets.

In [14]:
print(data['sat_results'].head(5))

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

We can make observations based on this output:

<div>
<p>We can make a few observations based on this output:</p>
<ul>
<li>The <code>DBN</code> appears to be a unique ID for each school.</li>
<li>We can tell from the first few rows of names that we only have data about high schools.  </li>
<li>There's only a single row for each high school, so each <code>DBN</code> is unique in the SAT data.  </li>
<li>We may eventually want to combine the three columns that contain SAT scores -- <code>SAT Critical Reading Avg. Score</code>, <code>SAT Math Avg. Score</code>, and <code>SAT Writing Avg. Score</code> -- into a single column to make the scores easier to analyze.</li>
</ul>
<p>Given these observations, let's explore the other datasets to see if we can gain any insight into how to combine them.</p></div>

We're almost ready to combine our datasets! We've come a long way in this lesson -- we've gone from choosing a topic for a project to acquiring the data to having clean data that we're almost ready to combine.

Along the way, we've learned how to:

Handle files with different formats and columns
Prepare to merge multiple files
Use text processing to extract coordinates from a string
Convert columns from strings to numbers
You'll always learn something new while working on a real-world data science project. Each project is unique and there will always be quirks you don't quite know how to handle. The key is to be willing to try different approaches and to have a general framework in your head for how to move from Step A to Step B.

we began investigating possible relationships between SAT scores and demographic factors. In order to do this, we acquired several datasets about New York City public schools. We manipulated these datasets and found that we could combine them using the **DBN** column. All of the datasets are currently stored as keys in the data dictionary. Each dataset is a pandas dataframe.

In this lesson, we'll clean the data more, then combine it. Finally, we'll compute correlations and perform some analysis.

**The first thing we'll need to do in preparation for the merge is condense some of the datasets.** we noticed that the values in the DBN column were unique in the sat_results data set. Other data sets like class_size had duplicate DBN values. We'll need to condense these datasets **so that each value in the DBN column is unique**.


While the main dataset we want to analyze, sat_results, has unique DBN values for every high school in New York City, other datasets aren't as clean. A single row in the sat_results dataset may match multiple rows in the class_size dataset, for example. This situation creates problems, because we don't know which of the multiple entries in the class_size dataset we should combine with the single matching entry in sat_results. Here's a diagram that illustrates the problem:

![condense_1](condense_1.png)

<p>In the diagram above, we can't combine the rows from both datasets, because there are several cases where multiple rows in <code>class_size</code> match a single row in <code>sat_results</code>.</p>


<p>To resolve this issue, we'll condense the <code>class_size</code>, <code>graduation</code> and <code>demographics</code> datasets so that each <code>DBN</code> is unique.</p>

<p>The first dataset that we'll condense is <code>class_size</code>.  The first few rows of <code>class_size</code> look like this:</p>


data["class_size"].head(5)


<p>The first few rows pertain to the same school, which is why the <code>DBN</code> appears more than once.  It looks like each school has multiple values for <code>GRADE</code>, <code>PROGRAM TYPE</code>, <code>CORE SUBJECT (MS CORE and 9-12 ONLY)</code>, and <code>CORE COURSE (MS CORE and 9-12 ONLY)</code>.  </p>

In [15]:
data['sat_results'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   DBN                              478 non-null    object
 1   SCHOOL NAME                      478 non-null    object
 2   Num of SAT Test Takers           478 non-null    object
 3   SAT Critical Reading Avg. Score  478 non-null    object
 4   SAT Math Avg. Score              478 non-null    object
 5   SAT Writing Avg. Score           478 non-null    object
dtypes: object(6)
memory usage: 22.5+ KB